<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/45cd6b8e-c3ee-450a-9a1c-9488dd19a85e/resourcegroups/ControlePortaria20220606084911ResourceGroup/providers/Microsoft.Web/sites/ControlePortaria20220606084911</ResourceId>
    <ResourceGroup>ControlePortaria20220606084911ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/45cd6b8e-c3ee-450a-9a1c-9488dd19a85e/resourceGroups/ControlePortaria20220606084911ResourceGroup/providers/Microsoft.ApiManagement/service/ControlePortariaapi/apis/ControlePortaria</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://controleportaria20220606084911.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>3ffcca2d-0c41-4fe5-bbd7-852fbaf2209a</ProjectGuid>
    <MSDeployServiceURL>controleportaria20220606084911.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ControlePortaria20220606084911</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$ControlePortaria20220606084911</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>